<app-header (feautureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="loadedFeauture === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeauture !== 'recipe'"></app-shopping-list>
      <p appBetterHighlight defaultColor="yellow" [highlightColor]="'red'">My new directive</p>
    </div>
  </div>
</div>
